
<table mat-table [dataSource]="consumptions">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let consumption">{{ consumption.id }}</td>
  </ng-container>
  <ng-container matColumnDef="day">
    <th mat-header-cell *matHeaderCellDef>Day</th>
    <td mat-cell *matCellDef="let consumption">{{ consumption.day }}</td>
  </ng-container>
  <ng-container matColumnDef="powerunit">
    <th mat-header-cell *matHeaderCellDef>PU.</th>
    <td mat-cell *matCellDef="let consumption">{{ consumption.powerunit }}</td>
  </ng-container>
  <ng-container matColumnDef="production">
    <th mat-header-cell *matHeaderCellDef>kWh</th>
    <td mat-cell *matCellDef="let consumption">{{ consumption.production }}</td>
  </ng-container>
  <ng-container matColumnDef="operations">
    <th mat-header-cell *matHeaderCellDef>Operations</th>
    <td mat-cell *matCellDef="let cell">
      <button mat-icon-button (click)="openEdit(cell)"><mat-icon>edit</mat-icon></button>
      <button mat-icon-button color="warn" (click)="openDelete(cell)"><mat-icon>delete forever</mat-icon></button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>
