<h1 mat-dialog-title>Delete Consumption #{{data.id}}?</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput disabled value="{{data.id}}">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Day</mat-label>
        <input matInput [formControl]="form.day" value="{{data.day}}" >
    </mat-form-field>
    <mat-form-field>
        <mat-label>Power Unit</mat-label>
        <input matInput [formControl]="form.powerunit" value="{{data.powerunit}}">
    </mat-form-field>
    <mat-form-field>
        <mat-label>kWh</mat-label>
        <input matInput [formControl]="form.production" value="{{data.production}}" >
    </mat-form-field>
</div>
<mat-dialog-actions>
    <button mat-icon-button (click)="Modify()" color="warn"><mat-icon>check</mat-icon></button>
    <button mat-icon-button mat-dialog-close color="primary"><mat-icon>close</mat-icon></button>
</mat-dialog-actions>